<div class="container">
    <div class="columns is-full is-multiline" id="buyHole">

        {{#each sales as |sale|}}
        {{#unless sale.sold}}

            {{!-- bulma card --}}
            <div class="card" id="pokeCard__main">  
                {{!-- bulma card content --}}
                <div class="card-content" id="{{ sale.id }}">

                    <div class="pokeCard__image-container">
                        <img src="{{ pokemon.gif }}" alt="" class="card__image" id="pokeCard_image">   
                    </div>
                
                    <div class="pokeCard__caption">
                        <h1 class="pokeCard__name">{{ sale.name }}</h1>

                        <ul class="pokeCard__stats">
                            <li>
                                <p id="pokeCardStatPara">Attack   {{ sale.attack }}</p>
                            </li>
                            <li>
                                <p id="pokeCardStatPara">Defense  {{ sale.defense }}</p>
                            </li>
                            <li>
                                <p id="pokeCard__price">Level {{ sale.price }}</p>
                            </li>
                            <li>
                                <h5>Special Notes:</h5>
                                <p id="pokeCard__note">{{ sale.description }}</p>
                            </li>
                        </ul>

                    </div>

                </div>
                {{!-- bulma card footer --}}
                <div class="card-footer" id="pokeCard-footer">
                    <p class="card-footer-item">
                        {{#if ../logged_in}}
                            <a class="button is-fullwidth" id="{{ sale.id }}" onclick="buyButtHandler(this);">
                                Adopt!
                            </a>
                        {{else}}
                            <a class="button is-fullwidth" id="/empty">
                                Login to Adopt!
                            </a>
                        {{/if}}
                    </p>
                </div>

            </div>

        {{/unless}}
        {{/each}}

    </div>
</div>