{{#each sales as |sale|}}
    {{!-- bulma card --}}
    <div class="card" id="pokeCard__main">  

        {{!-- bulma card content --}}
        <div class="card-content">

            <div class="pokeCard__image-container">
                <img src="{{ pokemon.gif }}" alt="" class="card__image" id="pokeCard_image">   
            </div>
        
            <div class="pokeCard__caption">
                <h1 class="pokeCard__name">{{ sale.name }}</h1>
                {{!-- <h3 class="pokeCard__type">{{ sale.type1 }}</h3> --}}

                <ul class="pokeCard__stats">
                    <li>
                        <p id="pokeCardStatPara">Attack   {{ sale.attack }}</p>
                    </li>
                    <li>
                        <p id="pokeCardStatPara">Defense  {{ sale.defense }}</p>
                    </li>
                    <li>
                        <p id="pokeCard__price">Price  $ {{ sale.price }}</p>
                    </li>
                    <li>
                        <h5>Special Notes:</h5>
                        <p id="pokeCard__note">{{ sale.description }}</p>
                    </li>
                </ul>

            </div>

        </div>

        {{!-- bulma card footer --}}
        <div class="card-footer" id="pokeCard-footer">
            <p class="card-footer-item">
                {{!-- <span> --}}
                    <button class="button is-fullwidth" id="pokeCardBuyButt"><a href="#">Buy</a></button>
                {{!-- </span> --}}
            </p>
        </div>

    </div>
{{/each}}
